@model Product

@using (Html.BeginForm("Edit", "Product", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ProductID)
    <div>
        @Html.LabelFor(model => model.ProductName)
        @Html.TextBoxFor(model => model.ProductName)
        @Html.ValidationMessageFor(model => model.ProductName)
    </div>
    <div>
        @Html.LabelFor(model => model.UnitPrice)
        @Html.TextBoxFor(model => model.UnitPrice)
        @Html.ValidationMessageFor(model => model.UnitPrice)
    </div>
    <div>
        @Html.LabelFor(model => model.CategoryID)
        @Html.DropDownList("Category", ViewBag.Categories, "Select Category",new{@class="form-control"})
        @Html.ValidationMessageFor(model => model.CategoryID)
    </div>
    <input type="submit" value="Save" />
}