@model Product

@using (Html.BeginForm("Edit", "Product", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ProductID)
    <div>
        @Html.LabelFor(model => model.ProductName)
        @Html.TextBoxFor(model => model.ProductName)
        @Html.ValidationMessageFor(model => model.ProductName)
    </div>
    <div>
        @Html.LabelFor(model => model.UnitPrice)
        @Html.TextBoxFor(model => model.UnitPrice)
        @Html.ValidationMessageFor(model => model.UnitPrice)
    </div>
    <div>
        @Html.LabelFor(model => model.CategoryID)
        @Html.DropDownListFor(model => model.CategoryID, (SelectList)ViewBag.Categories, "Select Category")
        @Html.ValidationMessageFor(model => model.CategoryID)
    </div>
    <input type="submit" value="Save" />
}